
<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-title>
        BMI
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  <ion-header collapse="condense">
    <ion-toolbar>
      <ion-title size="large">Tab 1</ion-title>
    </ion-toolbar>
  </ion-header>


  <div style="text-align: center;">
    <ion-toolbar>
      <ion-title>BMI Calculator</ion-title>
    </ion-toolbar>
  </div>
  <ion-grid>
    <ion-row>
      <ion-col>
        <ion-item>
          <ion-input [(ngModel)]="Height" label="Height: " type="number" [clearInput]="true" placeholder="Enter Height (M)"></ion-input>
        </ion-item>
        <ion-item>
          <ion-input [(ngModel)]="Weight" label="Weight: " type="number" [clearInput]="true" placeholder="Enter Weight (KG)"></ion-input>
        </ion-item>
      </ion-col>
    </ion-row>
  </ion-grid>
  <div style="text-align: center;">
    <ion-button  [routerLink]="'/tabs/tab2'">BMR</ion-button>
    <ion-button  (click)="Showconsole()">CAL!</ion-button>
    <ion-button  [routerLink]="'/tabs/tab3'">info</ion-button>
  </div>
 
  
   
 
  <br>
  <div style="text-align: center;">BMI =  {{Sum}} </div>
  